.dateTx[b-w4awjedj80] {
    font-size: 0.70em;
    white-space: nowrap;
}

.tx[b-w4awjedj80] {
    text-align: left;
}

.amount[b-w4awjedj80] {
    padding: 5px;
    font-size: 0.75em;
    min-width: 10%;
    font-weight: bold;
    text-align: end;
    background-color: #eee;
    white-space: nowrap;
}

.tableHeader[b-w4awjedj80] {
    font-size: 0.8em;
    white-space: nowrap;
}

.hashTx[b-w4awjedj80] {
    font-size: 0.8em;
}

.addrsLabel[b-w4awjedj80] {
    font-size: 0.7em;
    color: black;
}

.addrsInTable[b-w4awjedj80] {
    font-size: 0.8em;
}

.amountInTable[b-w4awjedj80] {
    padding: 5px;
    font-size: 0.8em;
    text-align: end;
    white-space: nowrap;
}

.subTitle[b-w4awjedj80] {
    color: #454545;
}

.tableTitle[b-w4awjedj80] {
    margin-bottom: 15px;
    margin-left: 5px;
}

.divRow[b-w4awjedj80] {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall[b-w4awjedj80] {
    font-size: 0.8em;
}
