.rowDiv[b-gssonl1dyh] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.value[b-gssonl1dyh] {
    color: grey;
    font-size: 0.95em;
}

.title[b-gssonl1dyh] {
    font-size: 0.7em;
}

.valueWithLink[b-gssonl1dyh] {
    font-size: 0.95em;
}

.address[b-gssonl1dyh] {
    color: gray;
    font-size: 0.9em;
}
