@{
	ViewData["Title"] = "İşlemler";
}

<h1>İşlemler</h1>
<main id="main" class="main">

	<div class="pagetitle">
		<h4>İşlemler</h4>
	</div>

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				 @Html.Partial("TableTransactions")
			</div>
		</div>
	</section>
</main>
