@{
	ViewData["Title"] = "Hesaplar";
}

<h1>Hesaplar</h1>
<main id="main" class="main">
	<div class="pagetitle">
		<h4>En yüksek Bakiyeye Sahip Hesaplar</h4>
	</div>

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				@Html.Partial("TableAccounts")
			</div>
		</div>
	</section>
</main>
